body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(252, 238, 230);
}



#contenedor{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    text-align: center;
}

.card {
    border: 5px solid brown;
    border-radius: 5px;
    margin-bottom: 5%;
    border-radius: 20px;
    transition: 0.3s;
}

.card:hover {
    transition: 0.3s;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(87, 86, 86, 0.726);
    cursor: pointer;
}


.card img{
    height: 100%;
    width: 100%;    
}

h1{
    height: 5%;
    width: 100%;
    font-size: 5em;
}

h2{
    height: 5%;
    width: 100%;
    font-size: 3em;
}

h3{
    height: 5%;
    width: 100%;
    font-size: 2em;
}

h4{
    height: 5%;
    width: 100%;
    font-size: 2em;
}

